In [3]:
import pandas as pd

In [4]:
df4= pd.read_csv('csv-sprint3-clean.csv', sep = ";")
df4

,Column1,filename,file_size,region_count,region_id,X,Y,Width,Height
0,0,1-2.jpg,144789,4,0,20,136,200,200
1,1,1-2.jpg,144789,4,1,276,39,201,295
2,4,1-2-pages.jpg,120719,3,0,14,200,220,121
3,6,1-2-pages.jpg,120719,3,2,13,105,222,30
4,7,Addiko-bank-st.jpg,187754,3,0,36,377,393,128
...,...,...,...,...,...,...,...,...,...
1587,1730,Yemen-Gulf-bank-statement-template-Word-and-PD...,147935,2,1,49,359,373,99
1588,1731,Yemen-Gulf-Bank-statement-template-in-Excel-an...,172033,2,0,31,274,405,97
1589,1732,Yemen-Gulf-Bank-statement-template-in-Excel-an...,172033,2,1,31,405,404,104
1590,1733,Yemen-International-bank-of-Yemen-proof-of-add...,208654,1,0,52,222,370,319
1591,1734,Yemen-International-bank-statement-template-in...,160780,1,0,26,200,384,267

In [5]:
df4ToList = list(df4['filename'])#convert the filename column to a list
df4ToList_no_dup= list(dict.fromkeys(df4ToList)) #supress the duplicate from the list.

In [6]:
import os
import pandas as pd
from csv import reader
import csv
import matplotlib.pyplot as plt
import matplotlib.patches as patches
from PIL import Image
import matplotlib
import matplotlib.pyplot as plt

In [ ]:
def drawer_from_list5(dir_path):
    try:
        for item in df4ToList_no_dup:
            fig, ax = plt.subplots()
            ax.imshow(Image.open(os.path.join(dir_path, item))) 
            for idx, row in df4.iterrows():
                if item == row["filename"]: 
                    ax.add_patch(patches.Rectangle((row ["X"],row["Y"]),row["Width"],row["Height"], linewidth=1.1, edgecolor='r', facecolor='none')) 
            plt.show()
    except FileNotFoundError as Error:
             print("Error in the file", item)
    
dir_path = "images940" 
drawer_from_list5(dir_path)